body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 780px) {
  section {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  main {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
