.hero {
  height: 50rem;
  width: 100%;
  background-color: $babyGreen;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem auto;
  .image-holder {
    max-width: 40%;

    object-fit: cover;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .basic_info {
    align-self: center;
    margin-left: 2rem;

    p {
      margin-top: 1em;
      margin-bottom: 0.5em;
    }

    button {
      background-color: $lightGreen;
      width: 6rem;
      height: 2rem;
      border: none;
      border-radius: 15px;
      cursor: pointer;
    }
    button:hover {
      opacity: 0.9;
    }
    h4 {
      margin-top: 2em;
      a {
        color: $black;
      }
    }
  }
}
.getting_started {
  margin-top: 4rem;

  .tumbnail_title {
    text-align: center;
  }
  .multi_thumbnail {
    display: flex;
    margin-top: 5rem;
    justify-content: space-evenly;
    flex-direction: row;

    gap: 2rem;
    .tumb_container {
      width: 20%;
      text-align: center;
      h2 {
        border: 1px solid $black;
        display: inline-block;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin: 0;
      }
    }
  }
}
@media (max-width: 780px) {
  .hero {
    flex-direction: column;
    height: 30rem;
  }
  .getting_started {
    .multi_thumbnail {
      flex-direction: column;
      .tumb_container {
        gap: 1rem;
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: row;
        h2 {
          flex-shrink: 0;
        }
      }
    }
  }
}
