.slider_section {
  .slider_intro {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $babyGreen;
    h2 {
      text-align: center;
      vertical-align: middle;
      margin: 0;
    }
    .slider_buttons {
      display: flex;
      justify-content: center;
      flex-direction: row;
      height: 3em;
      .slider_btn {
        font-size: 1.5em;
        background-color: transparent;
        border: none;
        height: 90%;
        box-sizing: content-box;
        font-weight: bold;
        cursor: pointer;
      }
      .slider_btn:hover {
        border-bottom: 3px solid $darkGreen;
      }
      .active_btn {
        border-bottom: 3px solid $darkGreen;
      }
      .slider_btn::after {
        content: "";
        display: inline-block;
        background-image: url(../assets/images/slider/star8.png);
        background-size: contain;
        height: 15px;
        width: 15px;
      }
    }
  }
  .slider {
    position: relative;
    background-color: $babyGreen;
    height: 250px;
    .slider_item {
      position: absolute;
      width: 100%;
      height: 250px;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .slide_info {
        display: flex;
        flex-direction: column;
        width: 30%;
        flex-basis: 2;
      }
      img {
        object-fit: contain;
        height: 200px;
        width: 250px;
        flex-shrink: 1;
      }
    }
    .slider_active {
      opacity: 1;
      transition: all 1s;
    }
  }
}
@media (max-width: 780px) {
  .slider_section {
    height: 500px;
    background-color: $babyGreen;
    .slider_intro {
      .slider_buttons {
        width: 100%;
        justify-content: space-between;
      }
    }
  }
  .slider {
    .slider_item {
      bottom: 0;
      flex-direction: column;
      transform: translateY(50px);

      .slide_info {
        width: 100% !important;
        margin-left: 2rem auto;
      }
    }
  }
}
